
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="/css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/other.css">
<link rel="stylesheet" href="/css/head/style.css" type="text/css" />
<link rel="stylesheet" href="/css/menu/toastr.css">
	<!-- Modernizr JS -->
	<script src="/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body style="overflow-y: hidden" >
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<div class="dropdown">
				<a href="javascript:void(0)" style="cursor: pointer;" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
				<div style="width: 80px; height: 80px; border-radius: 80px; overflow: hidden; margin: 0 auto;" >
					<img th:attr="src=${session.user.headUrl}" width="100%"
						height="100%" style="text-align: center;" id="imageHead" />
				</div>
				</a>
				<ul class="dropdown-menu pull-right" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="javascript:void(0)" data-toggle="modal"
						data-target="#editHead"> 上传头像</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="javascript:void(0)" onclick="editPersonalData()">修改个人资料</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="javascript:void(0)" data-toggle="modal"
						data-target="#myModal">注销</a></li>
				</ul>
			</div>
		    <br>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li ><a href="/user/index" style="font-family:楷体;font-size: 18px">主页</a></li>
					<li class="fh5co-active"><a href="/common/portfolio" style="font-family:楷体;font-size: 18px">相册</a></li>
					<li><a href="/common/contact" style="font-family:楷体;font-size: 18px">联系人</a></li>
					<li><a href="/common/about" style="font-family:楷体;font-size: 18px">朋友圈</a></li>
<!-- 					<li><a href="javascript:void(0)" style="font-family:楷体;font-size: 18px"  data-toggle="modal" data-target="#myModal">退出登录</a></li> -->
				</ul>
			</nav>

			<div class="fh5co-footer">
				<!-- <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p> -->
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				<h2  id ="scrollDiv" class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"><a href="/common/portfolio">我的相册</a> > <font th:text="${album.albumName}">不负好时光</font> </h2>
				<div  data-spy="scroll" data-target="#scrollDiv" data-offset="10"
				class="scrollspy-example"
				style="margin-top: 0px auto; border: 0; padding: 0;">
				<div class="row row-bottom-padded-md" style="width: 100%;height: 100%">
					<div th:each="image:${album.dataList}" class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry" style="height: 350px;">
							<a href="javascript:void(0)"  class="blog-img"><img style="display: inline-block; height:190px" th:attr="src=${'/common/downloadImg/'+image.imageUrl}" class="img-responsive" alt="图像加载失败"></a>
							<div class="desc">
								<h5 th:text="${image.originalName}">Inspirational Website</h5>
								<span style="font-size: 12px;" th:text="${'上传于 '+#calendars.format(image.createTime,'yyyy/MM/dd HH:mm:ss')}" > 2017/10/20 11:53:55</span>
								<div  style="height:35px; font-size: 12px;overflow: hidden;" th:text="${image.imageDesc}">我最喜欢的照片</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
<div class="modal fade container" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="position: fixed; top: 30%">
		<div class="modal-dialog" style="width: 300px; height: 30px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="myModalLabel">温馨提示：</h5>
				</div>
				<div class="modal-body">您，确定要退出登录吗？</div>
				<div class="modal-footer">
					<a href="/user/logout" style="color: white;"><button
							type="button" class="btn btn-success btn-sm"
							style="font-size: 11px">退出登录</button></a>
					<button type="button" class="btn btn-default btn-sm"
						data-dismiss="modal" style="font-size: 13px">取消</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade container" id="editHead" tabindex="-1"
		role="dialog" aria-labelledby="toEditHead" aria-hidden="true"
		style="position: fixed; top: 0%;overflow-y: hidden;width: 446px;height:550px;border-radius:6px 6px 2px 6px;">
		<div class="modal-dialog" style="margin:0 0 0 0">
			<div class="modal-content">
				<div class="modal-header" style="width: 430px">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="toEditHead">修改头像：</h5>
				</div>
				<div class="modal-body" style="height:500px;width:446px;margin:0 0 0 0">
					<div class="imageBox">
						<div class="thumbBox" id="load"></div>
						<div class="spinner" style="display: none">请选择一张图片</div>
					</div>
					<div class="action">
						<form action="#" enctype="multipart/form-data" method="post"
							id="uploadHead">
							<div class="new-contentarea tc">
								<a href="javascript:void(0)" class="upload-img"> <label
									for="file">选择图片</label>
								</a> <input type="hidden" name="headUrl" id="headUrl"> <input
									type="file" class="" name="files" id="file" multiple="multiple" />
							</div>
							<input type="button" id="btnCrop" class="Btnsty_peyton"
								value="上传" onclick="upload()"> <input type="button"
								id="btnZoomIn" class="Btnsty_peyton" value="+"> <input
								type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
						</form>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
	<!-- 	修改个人资料的模态窗 -->
	<div class="modal fade container" id="editPersonalData" tabindex="-1"
		role="dialog" aria-labelledby="#" aria-hidden="true"
		style="position: fixed; width: 100%; height: 100%">
		<div class="modal-dialog" style="width: 470px">
			<div class="modal-content" style="width: 470px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="myModalLabel">编辑资料：</h5>
				</div>
				<div class="modal-body" style="width: 100%">
						<form class="form-horizontal" method="post"
							id="editPersonalDataForm" action="/user/updataUserInfo"
							style="width: 100%">
							<div class="form-group">
								<label for="showName" class="col-sm-2 control-label">昵称：</label>
								<div class="col-sm-7">
									<input type="text" th:value="${session.user.showName}" maxlength="10" class="form-control" id="showName"
										name="showName" placeholder="请输入一个名字">
								</div>
							</div>
							<div class="form-group">
								<label for="phone" class="col-sm-2 control-label">手机号：</label>
								<div class="col-sm-7">
									<input type="text" th:value="${session.user.phone}" maxlength="11" class="form-control" id="phone" name="phone"
										placeholder="输入一个手机号" />
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-success btn-sm"
						style="font-size: 11px" onclick="updataUserInfo()" data-loading-text="正在保存..." id="updateUserInfoBtn">保存</button>
					<button type="button" class="btn btn-default btn-sm"
						data-dismiss="modal" style="font-size: 13px">取消</button>
				</div>
				</div>
				
			</div>
		</div>
	
	<!-- jQuery -->
	<script src="/js/jquery-1.9.1.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<script src="/js/menu/toastr.js"></script>
	
	<!-- MAIN JS -->
	<script src="/js/main.js"></script>
<script src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/head/cropbox.js"></script>
	<script type="text/javascript" src="/js/head/head.js"></script>
	<script type="text/javascript">

	$(function(){
		$(".scrollspy-example").css("height",(window.screen.height-250));
		$(".scrollspy-example").css("overflow","auto");
		$(".scrollspy-example").css("position","relative");
		
		$(".scrollspy-example").scroll(function(){

			var contentWayPoint = function() {
				var i = 0;
				$('.animate-box').waypoint( function( direction ) {

					if( direction === 'down' && !$(this.element).hasClass('animated') ) {
						
						i++;

						$(this.element).addClass('item-animate');
						setTimeout(function(){

							$('body .animate-box.item-animate').each(function(k){
								var el = $(this);
								setTimeout( function () {
									var effect = el.data('animate-effect');
									if ( effect === 'fadeIn') {
										el.addClass('fadeIn animated');
									} else if ( effect === 'fadeInLeft') {
										el.addClass('fadeInLeft animated');
									} else if ( effect === 'fadeInRight') {
										el.addClass('fadeInRight animated');
									} else {
										el.addClass('fadeInUp animated');
									}

									el.removeClass('item-animate');
								},  k * 200, 'easeInOutExpo' );
							});
							
						}, 100);
						
					}

				} , { offset: '85%' } );
			};

			var mobileMenuOutsideClick = function() {

				$(document).click(function (e) {
			    var container = $("#fh5co-aside, .js-fh5co-nav-toggle");
			    if (!container.is(e.target) && container.has(e.target).length === 0) {

			    	if ( $('body').hasClass('offcanvas') ) {

		    			$('body').removeClass('offcanvas');
		    			$('.js-fh5co-nav-toggle').removeClass('active');
					
			    	}
			    	
			    }
				});

			};


			$(function(){
				contentWayPoint();
			});
		})
	})
	</script>

	

	</body>
</html>

