
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<!-- Facebook and Twitter integration -->
<meta property="og:title" content="" />
<meta property="og:image" content="" />
<meta property="og:url" content="" />
<meta property="og:site_name" content="" />
<meta property="og:description" content="" />
<meta name="twitter:title" content="" />
<meta name="twitter:image" content="" />
<meta name="twitter:url" content="" />
<meta name="twitter:card" content="" />

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico">

<link
	href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
	rel="stylesheet">

<!-- Animate.css -->
<link rel="stylesheet" href="/css/animate.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/css/icomoon.css">
<!-- Bootstrap  -->
<link rel="stylesheet" href="/css/bootstrap.css">
<!-- Flexslider  -->
<link rel="stylesheet" href="/css/flexslider.css">
<!-- Theme style  -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/head/style.css" type="text/css" />
<!-- <link rel="stylesheet" href="/css/other.css">
 -->
<!-- Modernizr JS -->
<script src="/js/modernizr-2.6.2.min.js"></script>
	<style type="text/css">
		.scrollspy-example {
			height: 600px;
			overflow: auto;
			position: relative;
		}
	</style>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
<style type="text/css">
  .MyBtn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px !important;
}
.MyBtn2 {
  padding: 4px 15px !important;
}
.MyBtn3 {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
/* .myBtn4 {
  color: #fff;
  background: #228896;
} */
</style>
</head>
<body style="overflow-y:hidden">
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary"
			class="border js-fullheight">

			<div class="dropdown">
				<div
					style="width: 80px; height: 80px; border-radius: 80px; overflow: hidden; margin: 0 auto;"
					class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
					<img th:attr="src=${session.user.headUrl}" width="100%"
						height="100%" style="text-align: center;" id="imageHead" />
				</div>
				<ul class="dropdown-menu pull-right" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="javascript:void(0)" data-toggle="modal"
						data-target="#editHead"> 上传头像</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="#">修改个人资料</a></li>
					<li role="presentation" class="divider"></li>
					<li role="presentation"><a role="menuitem" tabindex="-1"
						href="javascript:void(0)" data-toggle="modal"
						data-target="#myModal">注销</a></li>
				</ul>
			</div>
			<br>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					<li><a href="/user/index"
						style="font-family: 楷体; font-size: 18px">主页</a></li>
					<li class="fh5co-active"><a href="/common/portfolio"
						style="font-family: 楷体; font-size: 18px">相册</a></li>
					<li><a href="/common/blog"
						style="font-family: 楷体; font-size: 18px">联系人</a></li>
					<li><a href="/common/about"
						style="font-family: 楷体; font-size: 18px">朋友圈</a></li>
<!-- 					<li><a href="javascript:void(0)" -->
<!-- 						style="font-family: 楷体; font-size: 18px" data-toggle="modal" -->
<!-- 						data-target="#myModal">退出登录</a></li> -->
				</ul>
			</nav>

			<div class="fh5co-footer">
				<!-- <p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p> -->
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main" >
		<img alt="" src="/images/logo8.png" width="100%" height="50px">
		  <div id="navbarExample" class="navbar navbar-static" style="margin:0 auto;border:0;padding:0;">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">我的相册</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#">新建相册</a></li>
							<li><a href="#">编辑相册</a></li>
							<li><a href="#">删除相册</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">更多操作<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">Separated link</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#">One more separated link</a></li>
								</ul></li>
						</ul>
						<form class="navbar-form navbar-right">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="请输入关键字">
							</div>
							<button type="submit" class="btn btn-info">搜  索</button>
						</form>
					</div>
				</div>
			</nav>
			</div>
			<div data-spy="scroll" data-target="#navbarExample" data-offset="50" class="scrollspy-example" style="margin-top:0px auto;border:0;padding:0;">
			<div class="fh5co-narrow-content" style="margin-top:0px auto;border:0;padding:0;">
				<div class="row row-bottom-padded-md" >
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-1.jpg);">
							<div class="desc" style="width: 100%;height: 100%;position:relative;">
								<div style="position:absolute;top:2%;right:2%;">
								<span class="glyphicon glyphicon-edit" title="编辑" style="display: inline-block;font-size: 15px" ></span>&nbsp;&nbsp;
								<span class="glyphicon glyphicon-trash" title="删除" style="display: inline-block;font-size: 15px"></span>&nbsp;&nbsp;
								<span class="glyphicon glyphicon-upload" title="上传" style="display: inline-block;font-size: 15px"></span>
								</div>
								<h3>不负好时光</h3>
								<span>创建日期</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-2.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-3.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-4.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-5.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-6.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-1.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-2.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-1.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-2.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Brading</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-3.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-padding text-center animate-box">
						<a href="#" class="work image-popup"
							style="background-image: url(/images/img-4.jpg);">
							<div class="desc">
								<h3>Project Name</h3>
								<span>Illustration</span>
							</div>
						</a>
					</div>
				<!-- </div> -->
			</div>

			<div class="fh5co-narrow-content">
				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
						<h1 class="fh5co-heading-colored">Get in touch</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box"
						data-animate-effect="fadeInLeft">
						<p class="fh5co-lead">Separated they live in Bookmarksgrove
							right at the coast of the Semantics, a large language ocean.</p>
						<p>
							<a href="#" class="btn btn-primary">Learn More</a>
						</p>
					</div>

				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="modal fade container" id="myModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		style="position: fixed; top: 30%">
		<div class="modal-dialog" style="width: 300px; height: 30px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="myModalLabel">温馨提示：</h5>
				</div>
				<div class="modal-body">您，确定要退出登录吗？</div>
				<div class="modal-footer">
					<a href="/user/logout" style="color: white;"><button
							type="button" class="btn btn-success btn-sm MyBtn MyBtn2"
							style="font-size: 12px">退出登录</button></a>
					<button type="button" class="btn btn-default btn-sm MyBtn MyBtn2"
						data-dismiss="modal" style="font-size: 13px">取消</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade container" id="editHead" tabindex="-1"
		role="dialog" aria-labelledby="toEditHead" aria-hidden="true"
		style="position: fixed; top: 0%;overflow-y: hidden;width: 446px;height:550px;border-radius:6px 6px 2px 6px;">
		<div class="modal-dialog" style="margin:0 0 0 0">
			<div class="modal-content">
				<div class="modal-header" style="width: 430px">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h5 class="modal-title" id="toEditHead">修改头像：</h5>
				</div>
				<div class="modal-body" style="height:500px;width:446px;margin:0 0 0 0">
					<div class="imageBox">
						<div class="thumbBox" id="load"></div>
						<div class="spinner" style="display: none">请选择一张图片</div>
					</div>
					<div class="action">
						<form action="#" enctype="multipart/form-data" method="post"
							id="uploadHead">
							<div class="new-contentarea tc">
								<a href="javascript:void(0)" class="upload-img"> <label
									for="file">选择图片</label>
								</a> <input type="hidden" name="headUrl" id="headUrl"> <input
									type="file" class="" name="files" id="file" multiple="multiple" />
							</div>
							<input type="button" id="btnCrop" class="Btnsty_peyton"
								value="上传" onclick="upload()"> <input type="button"
								id="btnZoomIn" class="Btnsty_peyton" value="+"> <input
								type="button" id="btnZoomOut" class="Btnsty_peyton" value="-">
						</form>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>
	
	<!-- jQuery -->
	<script src="/js/jquery-1.9.1.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/js/jquery.flexslider-min.js"></script>
	<!-- Google Map -->
	<!---<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="js/google_map.js"></script>--->


	<!-- MAIN JS -->
	<script src="/js/main.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/head/cropbox.js"></script>
	<script type="text/javascript" src="/js/head/head.js"></script>
	<script type="text/javascript">
		$('body').scrollspy({ target: '#navbar-example' });
	</script>
</body>
</html>

